{
	"singleQuote": true,
	"trailingComma": "all",
	"semi": false,
	"useTabs": true,
	"tabWidth": 2,
	"jsxSingleQuote": true,
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
	"tailwindAttributes": ["className"],
	"tailwindFunctions": ["tv", "clsx", "classnames"],
	"tailwindPreserveWhitespace": true,
	"tailwindPreserveDuplicates": true,
	"importOrder": ["<THIRD_PARTY_MODULES>", "^@", "^[./]", "^[../]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderGroupNamespaceSpecifiers": true
}
